body {
  background-color: rgb(135, 172, 135);
  font-family: 'Lato', sans-serif;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: None;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

button {
  color: rgb(57, 77, 57);
  border: None;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.join {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-btn {
  width: 100%;
}

.message-box, .channel-box  {
  border-color: rgb(22, 82, 26);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 40vh;
  display: flex;
}

.message-box {
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.messages {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}

.inputs {
  padding: 10px;
  display: flex;
}

h2 {
  text-align: center;
}

#message {
  flex: 1;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.muted {
  font-size: 10px;
  color: darkgray;
}

.welcome {
  margin-top: 65px;
  margin-left: 50px;
  margin-right: 50px;
}
.bunny {
  width: 100px;
}