{% extends 'base.html' %} 

{% block head %}

<script src="{{ url_for('static', filename='thumbsup.js') }}"></script>

{% endblock %}

{% block content %}
<div class="message-box" style="width: 400px;">
  <center>
    <form method="post" action="/newRoom">
      <button class="buttons" style="color: rgb(0, 136, 255); border: none; background-color: whitesmoke;">
        + Join or create another chat
      </button>
    </form>
  </center>
  <form method="post" action="/viewChannel">
    <h2>Other Existing Channels</h2>
    {% for room in rooms %}
    <ul>
      <li>
        <a href="{{ url_for('view_room', roomCode=room) }}" style="text-decoration: none;">
          {{ room }}
        </a>
      </li>
    </ul>
    {% endfor %}
  </form>
</div>

<div class="message-box">
  <h2>{{ code }}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
    />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
  </div>
</div>

<script src="{{ url_for('static', filename='room.js') }}"></script>

{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}");
</script>

{% endfor %} {% endblock %}